<div style="background-color: powderblue;">
    <div class="text-block">
        <h2>CAR CONFIGURATION</h2>
    </div>

    <div style="display: flex;">
        <!--dodavanje kola-->
        <span style="width: 25%; margin-top: 2%; margin-left: 5%; margin-right: 5%;">
            <h3 style="text-align: center;"> ADD CAR</h3>
            <form [formGroup]="service.addCarForm" (ngSubmit)="addSubmit()">
                
                <!--name-->
                <div class="form-group">
                    <input type="text" class="form-control" id="name" formControlName="Name" placeholder="Name">
                    <label class="text-danger"
                    *ngIf="service.addCarForm.get('Name').touched && service.addCarForm.get('Name').errors?.required">This
                    field is mandatory.</label>
                </div>

                <!--brand-->
                <div class="form-group">
                    <input type="text" class="form-control" id="brand" formControlName="Brand" placeholder="Brand">
                    <label class="text-danger"
                    *ngIf="service.addCarForm.get('Brand').touched && service.addCarForm.get('Brand').errors?.required">This
                    field is mandatory.</label>
                </div>

                <!--model-->
                <div class="form-group">
                    <input type="text" class="form-control" id="model" formControlName="Model" placeholder="Model">
                    <label class="text-danger"
                    *ngIf="service.addCarForm.get('Model').touched && service.addCarForm.get('Model').errors?.required">This
                    field is mandatory.</label>
                </div>

                <!--year of manufacture-->
                <div class="form-group">
                    <input type="text" class="form-control" id="yearofmanufacture" formControlName="YearOfManufacture" placeholder="YearOfManufacture">
                    <label class="text-danger"
                        *ngIf="service.addCarForm.get('YearOfManufacture').touched && service.addCarForm.get('YearOfManufacture').errors?.required">
                        This field is mandatory.
                    </label>
                    <label class="text-danger"
                        *ngIf="service.addCarForm.get('YearOfManufacture').touched && service.addCarForm.get('YearOfManufacture').errors?.minlength">
                        Please insert a valid number.
                    </label>
                </div>

                <!--number od seats-->
                <div class="form-group">
                    <input type="text" class="form-control" id="numberofseats" formControlName="NumberOfSeats" placeholder="NumberOfSeats">
                    <label class="text-danger"
                        *ngIf="service.addCarForm.get('NumberOfSeats').touched && service.addCarForm.get('NumberOfSeats').errors?.required">
                        This field is mandatory.
                    </label>
                    <label class="text-danger"
                        *ngIf="service.addCarForm.get('NumberOfSeats').touched && service.addCarForm.get('NumberOfSeats').errors?.minlength">
                        Please insert a valid number.
                    </label>
                </div>

                <!--car type-->
                <div class="form-group">
                    <label>Car type</label>
                    <select name="cardtypes" id="cardtype" class="form-control" formControlName="CardType">
                        <option value="1">GASOLINE</option>
                        <option value="2">DIESEL</option>
                        <option value="3">GAS</option>
                    </select>
                    <label class="text-danger"
                    *ngIf="service.addCarForm.get('CardType').touched && service.addCarForm.get('CardType').errors?.required">
                    This field is mandatory.</label>
                </div>

                <!--laugage weight-->
                <div class="form-group">
                    <input type="text" class="form-control" id="lugageweight" formControlName="LugageWeight" placeholder="LugageWeight">
                    <label class="text-danger"
                        *ngIf="service.addCarForm.get('LugageWeight').touched && service.addCarForm.get('LugageWeight').errors?.required">
                        This field is mandatory.
                    </label>
                    <label class="text-danger"
                        *ngIf="service.addCarForm.get('LugageWeight').touched && service.addCarForm.get('LugageWeight').errors?.minlength">
                        Please insert a valid number.
                    </label>
                </div>

                <!--is quick booking-->
                <div class="form-group">
                    <label>Is Quick Booking?</label>
                    <input type="checkbox" class="form-control" id="isquickbooking" formControlName="IsQuickBooking" placeholder="IsQuickBooking">
                    <label class="text-danger"
                        *ngIf="service.addCarForm.get('IsQuickBooking').touched && service.addCarForm.get('IsQuickBooking').errors?.required">
                        This field is mandatory.
                    </label>
                </div>

                <!--car price-->
                <div class="form-group">
                    <input type="text" class="form-control" id="carprice" formControlName="CarPrice" placeholder="CarPrice">
                    <label class="text-danger"
                        *ngIf="service.addCarForm.get('CarPrice').touched && service.addCarForm.get('CarPrice').errors?.required">
                        This field is mandatory.
                    </label>
                    <label class="text-danger"
                        *ngIf="service.addCarForm.get('CarPrice').touched && service.addCarForm.get('CarPrice').errors?.minlength">
                        Please insert a valid number.
                    </label>
                </div>

                <!--flight + car-->
                <div class="form-group">
                    <label>Flight</label>
                    <select name="flights" id="flight" class="form-control" formControlName="Flight">
                        <option *ngFor="let flight of flights" value="{{flight.flightID}}">{{flight.planeName}}<b>/</b>{{flight.startLocation}}<b>/</b>{{flight.endLocation}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Rent-a-car Service</label>
                    <select name="rentacarservices" id="rentacarservices" class="form-control" formControlName="RentACarService">
                        <option *ngFor="let rentACarService of rentACarServices" value="{{rentACarService.carServiceID}}">{{rentACarService.carServiceName}}<b>/</b>{{rentACarService.carServiceAddress}}</option>
                    </select>
                    <label class="text-danger"
                    *ngIf="service.addCarForm.get('RentACarService').touched && service.addCarForm.get('RentACarService').errors?.required">
                    This field is mandatory.</label>
                </div>

                <div class="form-group text-center">
                    <button [disabled]="!service.addCarForm.valid" class="btn btn-success" type="submit">Add Car</button>
                    <p>&nbsp;</p>
                </div>
            </form>
        </span>

        <!--brisanje kola-->
        <span style="width: 25%; margin-top: 2%; margin-left: 5%; margin-right: 5%;">
            <h3 style="text-align: center;"> DELETE CAR</h3>
            <form [formGroup]="service.deleteCarForm" (ngSubmit)="deleteSubmit()" autocomplete="off">

                <!--cars-->
                <div class="form-group">
                    <label>Car</label>
                    <select name="cars" id="car" class="form-control" formControlName="Car">
                        <option *ngFor="let car of cars" value="{{car.carID}}">{{car.carName}}/{{car.yearOdManufacture}}/{{car.carType}}</option>   
                    </select>
                    <label class="text-danger"
                        *ngIf="service.deleteCarForm.get('Car').touched && service.deleteCarForm.get('Car').errors?.required">
                        This field is mandatory.</label>
                </div>

                <div class="form-group text-center">
                    <button [disabled]="!service.deleteCarForm.valid" class="btn btn-success" type="submit">Delete Car</button>
                    <p>&nbsp;</p>
                </div>
            </form>
        </span>

        <!--menajnje kola-->
        <span style="width: 25%; margin-top: 2%; margin-left: 5%; margin-right: 5%;">
            <h3 style="text-align: center;"> CHANGE CAR</h3>
            <form [formGroup]="service.changeCarForm" (ngSubmit)="changeSubmit()" autocomplete="off">

                 <!--cars-->
                 <div class="form-group">
                    <label>Car</label>
                    <select name="cars" id="car" class="form-control" formControlName="Car">
                        <option *ngFor="let car of cars" value="{{car.carID}}">{{car.carName}}/{{car.yearOdManufacture}}/{{car.carType}}</option>   
                    </select>
                    <label class="text-danger"
                        *ngIf="service.changeCarForm.get('Car').touched && service.changeCarForm.get('Car').errors?.required">
                        This field is mandatory.</label>
                </div>

                <!--name-->
                <div class="form-group">
                    <input type="text" class="form-control" id="name" formControlName="Name" placeholder="Name">
                </div>

                <!--brand-->
                <div class="form-group">
                    <input type="text" class="form-control" id="brand" formControlName="Brand" placeholder="Brand">
                </div>

                <!--model-->
                <div class="form-group">
                    <input type="text" class="form-control" id="model" formControlName="Model" placeholder="Model">
                </div>

                <!--year of manufacture-->
                <div class="form-group">
                    <input type="text" class="form-control" id="yearofmanufacture" formControlName="YearOfManufacture" placeholder="YearOfManufacture">
                    <label class="text-danger"
                        *ngIf="service.changeCarForm.get('YearOfManufacture').touched && service.changeCarForm.get('YearOfManufacture').errors?.minlength">
                        Please insert a valid number.
                    </label>
                </div>

                <!--number od seats-->
                <div class="form-group">
                    <input type="text" class="form-control" id="numberofseats" formControlName="NumberOfSeats" placeholder="NumberOfSeats">
                    <label class="text-danger"
                        *ngIf="service.changeCarForm.get('NumberOfSeats').touched && service.changeCarForm.get('NumberOfSeats').errors?.minlength">
                        Please insert a valid number.
                    </label>
                </div>

                <!--car type-->
                <div class="form-group">
                    <label>Car type</label>
                    <select name="cardtypes" id="cardtype" class="form-control" formControlName="CardType">
                        <option value="1">GASOLINE</option>
                        <option value="2">DIESEL</option>
                        <option value="3">GAS</option>
                    </select>
                </div>

                <!--laugage weight-->
                <div class="form-group">
                    <input type="text" class="form-control" id="lugageweight" formControlName="LugageWeight" placeholder="LugageWeight">
                    <label class="text-danger"
                        *ngIf="service.changeCarForm.get('LugageWeight').touched && service.changeCarForm.get('LugageWeight').errors?.minlength">
                        Please insert a valid number.
                    </label>
                </div>

                <!--is quick booking-->
                <div class="form-group">
                    <label>Is Quick Booking?</label>
                    <input type="checkbox" class="form-control" id="isquickbooking" formControlName="IsQuickBooking" placeholder="IsQuickBooking">
                </div>

                <!--car price-->
                <div class="form-group">
                    <input type="text" class="form-control" id="carprice" formControlName="CarPrice" placeholder="CarPrice">
                    <label class="text-danger"
                        *ngIf="service.changeCarForm.get('CarPrice').touched && service.changeCarForm.get('CarPrice').errors?.minlength">
                        Please insert a valid number.
                    </label>
                </div>

                <!--flight + car-->
                <div class="form-group">
                    <label>Flight</label>
                    <select name="flights" id="flight" class="form-control" formControlName="Flight">
                        <option *ngFor="let flight of flights" value="{{flight.flightID}}">{{flight.planeName}}<b>/</b>{{flight.startLocation}}<b>/</b>{{flight.endLocation}}</option>
                    </select>
                </div>

                <div class="form-group text-center">
                    <button [disabled]="!service.changeCarForm.valid" class="btn btn-success" type="submit">Change Branch Office</button>
                    <p>&nbsp;</p>
                </div>
            </form>
        </span>
    </div>
</div>
