<div style="background-color: powderblue; height: 100%; width: 100%;">
    <div class="text-block">
        <h2>RENT-A-CAR REGISTRATION</h2>
    </div>
    <form [formGroup]="service.regRentACarForm" (ngSubmit)="onSubmit()" style="margin-left: 35%; margin-right: 35%; margin-top: 2%;">
        
        <!--rent-a-car name-->
        <div class="form-group">
            <input type="text" class="form-control" id="rentacarname" formControlName="RentACarName" placeholder="RentACarName">
            <label class="text-danger"
              *ngIf="service.regRentACarForm.get('RentACarName').touched && service.regRentACarForm.get('RentACarName').errors?.required">This
              field is mandatory.</label>
        </div>

        <!--rent-a-car address-->
        <div class="form-group">
            <input type="text" class="form-control" id="rentacaraddress" formControlName="RentACarAddress" placeholder="RentACarAddress">
            <label>*example: Djordja Isakova,33,Kac,Serbia</label><br>
            <label class="text-danger"
              *ngIf="service.regRentACarForm.get('RentACarAddress').touched && service.regRentACarForm.get('RentACarAddress').errors?.required">This
              field is mandatory.</label>
        </div>

        <!--promotivni opis-->
        <div class="form-group">
            <textarea class="form-control" id="rentacarpromotiondescription" formControlName="RentACarPromotionDescription" placeholder="RentACarPromotionDescription" rows="5" cols="50"></textarea>
            <label class="text-danger"
              *ngIf="service.regRentACarForm.get('RentACarPromotionDescription').touched && service.regRentACarForm.get('RentACarPromotionDescription').errors?.required">This
              field is mandatory.</label>
        </div>

        <!--cenovnik-->
        <div class="form-group">
            <textarea class="form-control" id="rentacarpricelist" formControlName="RentACarPriceList" placeholder="RentACarPriceList" rows="5" cols="50"></textarea>
            <label class="text-danger"
              *ngIf="service.regRentACarForm.get('RentACarPriceList').touched && service.regRentACarForm.get('RentACarPriceList').errors?.required">This
              field is mandatory.</label>
        </div>

        <div class="form-group text-center">
            <button [disabled]="!service.regRentACarForm.valid" class="btn btn-success" type="submit">Register New Rent a Car</button>
            <p>&nbsp;</p>
          </div>
    </form>
</div>
