<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <div>
            <a class="btn" href="http://localhost:4200/mainAdminHomePage/{{username}}" type="img"><img src="../../../../assets/images/LogoFinal2.png" height="55"></a>
        </div>
        <div>
            <a class="fa fa-plane fa-lg" style="color:white" type="button" (click)="methodOption1()"> Airline Registration</a>
            <a class="fa fa-user fa-lg" type="button" style="margin-left :25px; color: white;" (click)="methodOption3()"> Administrator Registration</a>
            <a class="fas fa-percent fa-lg" type="button" style="margin-left :25px; color: white;" (click)="methodOption4()"> Discounts Settings</a>
        </div>
    </div>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">{{username}}</a>
        <div class="dropdown-menu pr-3">
            <a class="dropdown-item" routerLink="/" (click)="logout()"><i class="fa fa-sign-out-alt"></i> Log out</a>
          </div>
    </div>
</nav>
<div *ngIf="defaultComponent===1"><app-airline-registration></app-airline-registration></div>
<div *ngIf="defaultComponent===3"><app-administrators-registration></app-administrators-registration></div>
<div *ngIf="defaultComponent===4"><app-discount-settings></app-discount-settings></div>
