<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="btn" href="http://localhost:4200" type="img"><img src="../../../../assets/images/LogoFinal2.png" height="55"></a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-center">
            <li class="nav-item">
                <a class="fa fa-plane fa-lg" style="color:white" type="btn"> Flights</a>
            </li>
            <li class="nav-item">
                <a class="fa fa-car fa-lg" type="btn" style="margin-left :25px; color: white;"> Cars</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0" style="margin-left:11.5%">
            <input type="text" class="form-control mr-sm-2" placeholder="Username">
            <input type="text" class="form-control mr-sm-2" placeholder="Password">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
          </form>
          
          <!--kasnije dodati i ostale atribute,kada budem radio logovanje-->
        <!--<form class="form-inline my-2 my-lg-0" style="margin-left:11.5%">
          <input type="text" class="form-control mr-sm-2" id="username" formControlName="username" placeholder="Username" required name="username">
          <input type="text" class="form-control mr-sm-2" id="password" formControlName="password" placeholder="Password" required name="password">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>-->
    </div>
</nav>
