<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <div>
            <a class="btn" href="http://localhost:4200" type="img"><img src="../../../../assets/images/LogoFinal2.png" height="55"></a>
        </div>
        <div>
            <a class="fa fa-plane fa-lg" style="color:white" type="button" (click)="loadAirlines()" data-toggle="modal" data-target="#airlinesModal"> Airlines</a>
            <a class="fa fa-car fa-lg" type="button" style="margin-left :25px; color: white;" (click)="loadRentACarServices()" data-toggle="modal" data-target="#rentACarsModal"> Rent-a-car Service</a>
        </div>
        <div style="position: absolute; right: 10px;">
            <form  [formGroup]="service.formLoginModel" class="form-inline my-2 my-lg-0" autocomplete="off" (ngSubmit)="onSubmit()">
                <input type="text" class="form-control mr-sm-2" id="username" formControlName="UserName" placeholder="UserName">
                <input type="password" class="form-control mr-sm-2" id="password" formControlName="Password" placeholder="Password">
                <button [disabled]="!service.formLoginModel.valid" class="btn btn-success my-2 my-sm-0" type="submit" name="loginBtn">Login</button>
            </form>
        </div>
    </div>
</nav>
<div style="text-align: center;">
    <button type="button" (click)="LoginWithGoogle()" class="btn btn-ins"><i class="fab fa-google pr-1"></i>Login with Google</button>
</div>

<!--MODALS-->
<!--ispis aviokompanija-->
<div class="modal fade" id="airlinesModal" tabindex="-1" role="dialog" aria-labelledby="airlinesModal" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:  powderblue;">
                <h5 class="modal-title">AIRLINES</h5>
                <button class="close" data-dismiss="modal" aria-label="Close" type="submit">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="white-space: pre;">
                <div class="tab-content">
                    <div>
                        <table class="table table-dark">
                            <thead style="text-align: center;">
                                <tr>
                                    <th>NAME</th>
                                    <th>ADDRESS</th>
                                    <th>PROMOTION DESCRIPTION</th>
                                    <th>AIRLINE RATING</th>
                                    <th>DESTINATIONS</th>
                                    <th>FLIGHTS</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                <tr *ngFor="let airline of airlines">
                                    <!--name-->
                                    <td>{{airline.airlineName}}</td>
                                    
                                    <!--address-->
                                    <td>
                                        <a role="button" data-toggle="modal" data-target="#addressModal"
                                        (click)="viewAirlineMapAddress(airline)">{{airline.airlineAddress}}</a>
                                    </td>

                                    <!--promotion description-->
                                    <td>
                                        <button class="btn btn-success" data-toggle="modal" data-target="#descriptionModal" 
                                        (click)="viewAirlinePromotionDescription(airline)">VIEW PROMOTION DECRIPTION</button>
                                    </td>

                                    <!--rating-->
                                    <td *ngIf="airline.airlineRating < 1.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{airline.airlineRating}}</div>
                                    </td>
                                    <td *ngIf="airline.airlineRating >= 1.5 && airline.airlineRating < 2.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{airline.airlineRating}}</div>
                                    </td>
                                    <td *ngIf="airline.airlineRating >= 2.5 && airline.airlineRating < 3.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{airline.airlineRating}}</div>
                                    </td>
                                    <td *ngIf="airline.airlineRating >= 3.5 && airline.airlineRating < 4.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{airline.airlineRating}}</div>
                                    </td>
                                    <td *ngIf="airline.airlineRating >= 4.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <div>{{airline.airlineRating}}</div>
                                    </td>

                                    <td>
                                        <button class="btn btn-success" (click)="loadDestination(airline)" data-toggle="modal" data-target=".bd-example-modal-xl">VIEW DESTINATIONS</button>
                                    </td>

                                    <td>
                                        <button class="btn btn-success" (click)="loadFlights(airline)" data-toggle="modal" data-target=".bd-example-modal-x2">VIEW FLIGHTS</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--prikaz adrese na mapi-->
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="height: 500px;">
            <div class="modal-header" style="background-color:  powderblue;">
                <h5 class="modal-title">AIRLINE LOCATION ADDRESS</h5>
                <button type="submit" class="close" data-dismiss="modal" aria-label="Close" (click)="myFunction()" style="transition-timing-function: linear;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="destroy">
                <div class="tab-content" id="destory1">
                    <div id="map" style="height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--promotivni opis-->
<div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:  powderblue;">
                <h5 class="modal-title">AIRLINE PROMOTION DESCRIPTION</h5>
                <button class="close" data-dismiss="modal" aria-label="Close" type="submit">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="white-space: pre;">
                <div class="tab-content">
                    <div>{{promotionDescription}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--destinacije-->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:  powderblue;">
                <h5 class="modal-title">AIRLINE DESTINATIONS</h5>
                <button type="submit" class="close" data-dismiss="modal" aria-label="Close" style="transition-timing-function: linear;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="white-space: pre;">
                <div class="tab-content">
                    <div>
                        <table class="table table-dark">
                            <thead style="text-align: center;">
                                <tr>
                                    <th>DESTINATION ID</th>
                                    <th>AIRPORT NAME</th>
                                    <th>CITY</th>
                                    <th>COUNTRY</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                <tr *ngFor="let destination of destinations">
                                    <td>{{destination.destinationID}}</td>
                                    <td>{{destination.airportName}}</td>
                                    <td>{{destination.city}}</td>
                                    <td>{{destination.country}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--airline flights-->
<div class="modal fade bd-example-modal-x2" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:  powderblue;">
                <h5 class="modal-title">AIRLINE FLIGHTS</h5>
                <button type="submit" class="close" data-dismiss="modal" aria-label="Close" style="transition-timing-function: linear;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="white-space: pre;">
                <div class="form-row" style="align-content: center;">
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="material-icons"><b>Start location:</b></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="insert location" id="startLocationFilter">
                        </div>
                    </div>
                    <div class="col-md-3" >
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="material-icons"><b>End location:</b></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="insert location" id="endLocationFilter">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="material-icons"><b>Flight rating:</b></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="insert rating" id="flightRatingFilter">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="margin-left: 30px;" (click)="filterFlights()">SEARCH</button>
                        <button type="button" class="btn btn-secondary" style="margin-left: 5px;" (click)="resetFilter()">RESET</button>
                    </div>
                </div>

                <div class="tab-content" style="font-size: small;">
                    <div id="flightList">
                        <table class="table table-dark">
                            <thead style="text-align: center;">
                                <tr>
                                    <th>ID</th>
                                    <th>START/END TIME</th>
                                    <th>START/END LOCATION</th>
                                    <th>FLIGHT TIME (HOURS)</th>
                                    <th>FLIGHT LENGTH (km)</th>
                                    <th>FLIGHT RATING</th>
                                    <th>MORE INFO</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                <tr *ngFor="let flight of filteredFlights">
                                    <td>{{flight.flightID}}</td>
                                    <td>Start: {{flight.startTime}}<br>Start: {{flight.endTime}}</td>
                                    <td>From: {{flight.startLocation}}<br>To: {{flight.endLocation}}</td>
                                    <td>{{flight.flightTime}}</td>
                                    <td>{{flight.flightLength}}</td>

                                    <td *ngIf="flight.flightRating < 1.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{flight.flightRating}}</div>
                                    </td>
                                    <td *ngIf="flight.flightRating >= 1.5 && flight.flightRating < 2.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{flight.flightRating}}</div>
                                    </td>
                                    <td *ngIf="flight.flightRating >= 2.5 && flight.flightRating < 3.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{flight.flightRating}}</div>
                                    </td>
                                    <td *ngIf="flight.flightRating >= 3.5 && flight.flightRating < 4.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{flight.flightRating}}</div>
                                    </td>
                                    <td *ngIf="flight.flightRating >= 4.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <div>{{flight.flightRating}}</div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-x3"
                                            (click)="flightMoreInfo(flight)">VIEW</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--more flight info -->
<div class="modal fade bd-example-modal-x3" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:  powderblue;">
                <h5 class="modal-title">MORE INFO</h5>
                <button type="submit" class="close" data-dismiss="modal" aria-label="Close" style="transition-timing-function: linear;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="white-space: pre;">
                <div class="tab-content">
                    <div>
                        <b>ADDITIONAL INFORMATION:</b><br><br>
                        <div>{{additionalInfo}}</div><hr>

                        <b>NUMBER OF TRANSFERS:</b><br><br>
                        <div>{{numberOfTransfers}}</div><hr>

                        <b>ALL TRASNFERS:</b><br><br>
                        <div>{{allTransfers}}</div><hr>

                        <b>PLANE NAME:</b><br><br>
                        <div>{{planeName}}</div><hr>

                        <b>LAGUAGE WEIGHT</b><br><br>
                        <div>{{laguageWeight}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--ispis rent a car servisa-->
<div class="modal fade rentACarsModal" id="rentACarsModal" tabindex="-1" role="dialog" aria-labelledby="rentACarsModal" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:  powderblue;">
                <h5 class="modal-title">RENT A CAR SERVICES</h5>
                <button class="close" data-dismiss="modal" aria-label="Close" type="submit">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div>
                        <table class="table table-dark">
                            <thead style="text-align: center;">
                                <tr>
                                    <th>NAME</th>
                                    <th>ADDRESS</th>
                                    <th>PROMOTION DESCRIPTION</th>
                                    <th>RENT A CAR RATING</th>
                                    <th>BRANCH OFFICES</th>
                                    <th>CARS</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                <tr *ngFor="let service of rentACarServices">
                
                                    <!--name-->
                                    <td>{{service.carServiceName}}</td>
                
                                    <!--address-->
                                    <td>
                                        <a role="button" data-toggle="modal" data-target="#addressModalCar"
                                        (click)="viewRentACarMapAddress(service)">{{service.carServiceAddress}}</a>
                                    </td>
                
                                    <!--promotion description-->
                                    <td>
                                        <button class="btn btn-success" data-toggle="modal" data-target="#descriptionModalCar" 
                                        (click)="viewRentACarPromotionDescription(service)">VIEW PROMOTION DECRIPTION</button>
                                    </td>
                
                                    <!--rating-->
                                    <td *ngIf="service.carServiceRating < 1.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{service.carServiceRating}}</div>
                                    </td>
                                    <td *ngIf="service.carServiceRating >= 1.5 && service.carServiceRating < 2.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{service.carServiceRating}}</div>
                                    </td>
                                    <td *ngIf="service.carServiceRating >= 2.5 && service.carServiceRating < 3.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{service.carServiceRating}}</div>
                                    </td>
                                    <td *ngIf="service.carServiceRating >= 3.5 && service.carServiceRating < 4.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{service.carServiceRating}}</div>
                                    </td>
                                    <td *ngIf="service.carServiceRating >= 4.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <div>{{service.carServiceRating}}</div>
                                    </td>
                
                                    <td><button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-x4"
                                        (click)="loadBranchOffices(service)">VIEW BRANCH OFFICES</button>
                                    </td>
                
                                    <td><button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-x5"
                                        (click)="loadcars(service)">VIEW CARS</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--prikaz rent-a-car adrese-->
<div class="modal fade" id="addressModalCar" tabindex="-1" role="dialog" aria-labelledby="addressModalCar" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="height: 500px;">
            <div class="modal-header" style="background-color:  powderblue;">
                <h5 class="modal-title">RENT A CAR LOCATION ADDRESS</h5>
                <button type="submit" class="close" data-dismiss="modal" aria-label="Close" (click)="myFunctionCar()" style="transition-timing-function: linear;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="destroyCar">
                <div class="tab-content" id="destory1Car">
                    <div id="map" style="height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--promotivni opis rent-a-car servisa-->
<div class="modal fade" id="descriptionModalCar" tabindex="-1" role="dialog" aria-labelledby="descriptionModalCar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:  powderblue;">
                <h5 class="modal-title">RENT A CAR PROMOTION DESCRIPTION</h5>
                <button class="close" data-dismiss="modal" aria-label="Close" type="submit">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="white-space: pre;">
                <div class="tab-content">
                    <div>{{promotionDescription}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--filijale-->
<div class="modal fade bd-example-modal-x4" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:  powderblue;">
                <h5 class="modal-title">RENT A CAR BRANCH OFFICES</h5>
                <button type="submit" class="close" data-dismiss="modal" aria-label="Close" style="transition-timing-function: linear;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="white-space: pre;">
                <div class="tab-content">
                    <div>
                        <table class="table table-dark">
                            <thead style="text-align: center;">
                                <tr>
                                    <th>DESTINATION ID</th>
                                    <th>BRANCH OFFICE NAME</th>
                                    <th>CITY</th>
                                    <th>COUNTRY</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                <tr *ngFor="let branch of branchOffices">
                                    <td>{{branch.branchOfficeID}}</td>
                                    <td>{{branch.branchOfficeAddress}}</td>
                                    <td>{{branch.city}}</td>
                                    <td>{{branch.country}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--ispis automobila odredjenog renta-car servisa-->
<div class="modal fade bd-example-modal-x5" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:  powderblue;">
                <h5 class="modal-title">RENT-A-CAR-SERVICE CARS</h5>
                <button type="submit" class="close" data-dismiss="modal" aria-label="Close" style="transition-timing-function: linear;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="white-space: pre;">
                <div class="form-row" style="align-content: center;">
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="material-icons"><b>Car name:</b></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="insert name" id="carNameFilter">
                        </div>
                    </div>
                    <div class="col-md-3" >
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="material-icons"><b>Number of seats:</b></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="insert number" id="numberOfSeatsFilter">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="material-icons"><b>Car rating:</b></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="insert rating" id="carRatingFilter">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="margin-left: 30px;" (click)="filterCars()">SEARCH</button>
                        <button type="button" class="btn btn-secondary" style="margin-left: 5px;" (click)="resetFilterCar()">RESET</button>
                    </div>
                </div>

                <div class="tab-content" style="font-size: small;">
                    <div>
                        <table class="table table-dark">
                            <thead style="text-align: center;">
                                <tr>
                                    <th>ID</th>
                                    <th>NAME</th>
                                    <th>BRAND</th>
                                    <th>MODEL</th>
                                    <th>NUMBER OF SEATS</th>
                                    <th>CAR RATING</th>
                                    <th>MORE INFO</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                <tr *ngFor="let car of filteredCars">
                                    <td>{{car.carID}}</td>
                                    <td>{{car.carName}}</td>
                                    <td>{{car.carBrand}}</td>
                                    <td>{{car.carModel}}</td>
                                    <td>{{car.numberOfSeats}}</td>

                                    <td *ngIf="car.carRating < 1.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{car.carRating}}</div>
                                    </td>
                                    <td *ngIf="car.carRating >= 1.5 && car.carRating < 2.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{car.carRating}}</div>
                                    </td>
                                    <td *ngIf="car.carRating >= 2.5 && car.carRating < 3.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{car.carRating}}</div>
                                    </td>
                                    <td *ngIf="car.carRating >= 3.5 && car.carRating < 4.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <div>{{car.carRating}}</div>
                                    </td>
                                    <td *ngIf="car.carRating >= 4.5">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <div>{{car.carRating}}</div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-x6"
                                            (click)="viewCarMoreInfo(car)">VIEW</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--more car info-->
<div class="modal fade bd-example-modal-x6" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:  powderblue;">
                <h5 class="modal-title">MORE INFO</h5>
                <button type="submit" class="close" data-dismiss="modal" aria-label="Close" style="transition-timing-function: linear;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="white-space: pre;">
                <div class="tab-content">
                    <div>
                        <b>YEAR OF MANUFACTURE:</b><br><br>
                        <div>{{yearOdManufacture}}</div><hr>

                        <b>CAR TYPE</b><br><br>
                        <div>{{carType}}</div><hr>

                        <b>LUGAGE WEIGHT:</b><br><br>
                        <div>{{lugageWeightCar}}</div><hr>

                        <b>TIME OF CAR PURCHASED</b><br><br>
                        <div>{{timeOfCarPurchase}}</div><hr>

                        <b>IS CAR PURCHASED</b><br><br>
                        <div>{{isCarPurchased}}</div><hr>

                        <b>IS QUICK BOOKING</b><br><br>
                        <div>{{isQuickBooking}}</div><hr>

                        <b>CAR PRICE</b><br><br>
                        <div>{{carPrice}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>