<div style="background-color: powderblue;">
    <div class="text-block">
        <h2>BRANCH OFFICE CONFIGURATION</h2>
    </div>

    <div style="display: flex;">
        <!--dodavanje destincije-->
        <span style="width: 25%; margin-top: 2%; margin-left: 5%; margin-right: 5%;">
            <h3 style="text-align: center;"> ADD BRANCH OFFICE</h3>
            <form [formGroup]="service.addBranchForm" (ngSubmit)="addSubmit()">
        
                <!--rent a car services-->
                <div class="form-group">
                    <label>Rent-a-car Service</label>
                    <select name="rentacarservices" id="rentacarservices" class="form-control" formControlName="RentACarService">
                        <option *ngFor="let rentACarService of rentACarServices" value="{{rentACarService.carServiceID}}">{{rentACarService.carServiceName}}<b>/</b>{{rentACarService.carServiceAddress}}</option>
                    </select>
                    <label class="text-danger"
                    *ngIf="service.addBranchForm.get('RentACarService').touched && service.addBranchForm.get('RentACarService').errors?.required">
                    This field is mandatory.</label>
                </div>

                <!--branch office address-->
                <div class="form-group">
                    <input type="text" class="form-control" id="branchofficeaddress" formControlName="BranchOfficeAddress" placeholder="BranchOfficeAddress">
                    <label>*example: Djordja Isakova,33,Kac,Serbia</label><br>
                    <label class="text-danger"
                    *ngIf="service.addBranchForm.get('BranchOfficeAddress').touched && service.addBranchForm.get('BranchOfficeAddress').errors?.required">This
                    field is mandatory.</label>
                </div>

                <!--city-->
                <div class="form-group">
                    <div class="col-xs-6">
                        <input type="text" class="form-control"id="city" placeholder="City" formControlName="City">
                        <label class="text-danger"
                        *ngIf="service.addBranchForm.get('City').touched && service.addBranchForm.get('City').errors?.required">This
                        field is mandatory.</label>
                    </div>
                </div>

                <!--country-->
                <div class="form-group">
                    <div class="col-xs-6">
                        <input type="text" class="form-control"id="country" placeholder="Country" formControlName="Country">
                        <label class="text-danger"
                        *ngIf="service.addBranchForm.get('Country').touched && service.addBranchForm.get('Country').errors?.required">This
                        field is mandatory.</label>
                    </div>
                </div>
        
                <div class="form-group text-center">
                    <button [disabled]="!service.addBranchForm.valid" class="btn btn-success" type="submit">Add Branch Office</button>
                    <p>&nbsp;</p>
                </div>
            </form>
        </span>

        <!--brisanje destinacije-->
        <span style="width: 25%; margin-top: 2%; margin-left: 5%; margin-right: 5%;">
            <h3 style="text-align: center;"> DELETE BRANCH OFFICE</h3>
            <form [formGroup]="service.deleteBranchForm" (ngSubmit)="deleteSubmit()" autocomplete="off">

                <!--branch offices-->
                <div class="form-group">
                    <label>Branch Office</label>
                    <select name="branchoffices" id="branchoffices" class="form-control" formControlName="BranchOffice">
                        <option *ngFor="let branchOffice of branchOffices" value="{{branchOffice.branchOfficeID}}">{{branchOffice.branchOfficeAddress}}</option>   
                    </select>
                    <label class="text-danger"
                        *ngIf="service.deleteBranchForm.get('BranchOffice').touched && service.deleteBranchForm.get('BranchOffice').errors?.required">
                        This field is mandatory.</label>
                </div>

                <div class="form-group text-center">
                    <button [disabled]="!service.deleteBranchForm.valid" class="btn btn-success" type="submit">Delete Branch office</button>
                    <p>&nbsp;</p>
                </div>
            </form>
        </span>

        <!--menajnje destinacije-->
        <span style="width: 25%; margin-top: 2%; margin-left: 5%; margin-right: 5%;">
            <h3 style="text-align: center;"> CHANGE BRANCH OFFICE</h3>
            <form [formGroup]="service.changeBranchForm" (ngSubmit)="changeSubmit()" autocomplete="off">

                <!--rent a car services-->
                <div class="form-group">
                    <label>Branch Office</label>
                    <select name="branchoffice" id="branchoffice" class="form-control" formControlName="BranchOffice">
                        <option *ngFor="let branchOffice of branchOffices" value="{{branchOffice.branchOfficeID}}">{{branchOffice.branchOfficeAddress}}</option>
                    </select>
                    <label class="text-danger"
                    *ngIf="service.changeBranchForm.get('BranchOffice').touched && service.changeBranchForm.get('BranchOffice').errors?.required">
                    This field is mandatory.</label>
                </div>

                <!--branch office address-->
                <div class="form-group">
                    <input type="text" class="form-control" id="branchofficeaddress" formControlName="BranchOfficeAddress" placeholder="BranchOfficeAddress">
                    <label>*example: Djordja Isakova,33,Kac,Serbia</label><br>
                </div>

                <!--city-->
                <div class="form-group">
                    <div class="col-xs-6">
                        <input type="text" class="form-control"id="city" placeholder="City" formControlName="City">
                    </div>
                </div>

                <!--country-->
                <div class="form-group">
                    <div class="col-xs-6">
                        <input type="text" class="form-control"id="country" placeholder="Country" formControlName="Country">
                    </div>
                </div>

                <div class="form-group text-center">
                    <button [disabled]="!service.changeBranchForm.valid" class="btn btn-success" type="submit">Change Branch Office</button>
                    <p>&nbsp;</p>
                </div>
            </form>
        </span>
    </div>
</div>
