<div style="background-color: powderblue;">
    <div class="text-block">
        <h2>DESTINATION CONFIGURATION</h2>
    </div>
    <div style="display: flex;">
        <!--dodavanje destincije-->
        <span style="width: 25%; margin-top: 2%; margin-left: 5%; margin-right: 5%;">
            <h3 style="text-align: center;"> ADD DESTINATION</h3>
            <form [formGroup]="service.destinationForm" (ngSubmit)="onSubmit()">
                <!--airline-->
                <div class="form-group">
                    <label>Airline</label>
                    <select name="airlines" id="airlines" class="form-control" formControlName="Airline">
                        <option *ngFor="let airline of airlines" value="{{airline.airlineID}}">{{airline.airlineName}}<b>/</b>{{airline.airlineAddress}}</option>
                    </select>
                    <label class="text-danger"
                    *ngIf="service.destinationForm.get('Airline').touched && service.destinationForm.get('Airline').errors?.required">
                    This field is mandatory.</label>
                </div>
                <!--airport name-->
                <div class="form-group">
                    <input type="text" class="form-control" id="airportname" formControlName="AirportName" placeholder="AirportName">
                    <label class="text-danger"
                      *ngIf="service.destinationForm.get('AirportName').touched && service.destinationForm.get('AirportName').errors?.required">
                      This field is mandatory.
                    </label>
                </div>
                <!--city-->
                <div class="form-group">
                    <input type="text" class="form-control" id="city" formControlName="City" placeholder="City">
                    <label class="text-danger"
                      *ngIf="service.destinationForm.get('City').touched && service.destinationForm.get('City').errors?.required">
                      This field is mandatory.
                    </label>
                </div>
                <!--country-->
                <div class="form-group">
                    <input type="text" class="form-control" id="country" formControlName="Country" placeholder="Country">
                    <label class="text-danger"
                      *ngIf="service.destinationForm.get('Country').touched && service.destinationForm.get('Country').errors?.required">
                      This field is mandatory.
                    </label>
                </div>
                <div class="form-group text-center">
                    <button [disabled]="!service.destinationForm.valid" class="btn btn-success" type="submit">Add Destination</button>
                    <p>&nbsp;</p>
                </div>
            </form>
        </span>
        <!--brisanje destinacije-->
        <span style="width: 25%; margin-top: 2%; margin-left: 5%; margin-right: 5%;">
            <h3 style="text-align: center;"> DELETE DESTINATION</h3>
            <form [formGroup]="service.deleteDestinationForm" (ngSubmit)="deleteSubmit()" autocomplete="off">
                <!--destination-->
                <div class="form-group">
                    <label>Destination</label>
                    <select name="destinations" id="destinations" class="form-control" formControlName="Destination">
                        <option *ngFor="let destination of destinations" value="{{destination.destinationID}}">{{destination.airportName}}<b></b>/{{destination.city}}/{{destination.country}}</option>   
                    </select>
                    <label class="text-danger"
                        *ngIf="service.deleteDestinationForm.get('Destination').touched && service.deleteDestinationForm.get('Destination').errors?.required">
                        This field is mandatory.</label>
                </div>
                <div class="form-group text-center">
                    <button [disabled]="!service.deleteDestinationForm.valid" class="btn btn-success" type="submit">Delete Destination</button>
                    <p>&nbsp;</p>
                </div>
            </form>
        </span>
        <!--menajnje destinacije-->
        <span style="width: 25%; margin-top: 2%; margin-left: 5%; margin-right: 5%;">
            <h3 style="text-align: center;"> CHANGE DESTINATION</h3>
            <form [formGroup]="service.changeDestinationForm" (ngSubmit)="changeSubmit()" autocomplete="off">
                <!--destination-->
                <div class="form-group">
                    <label>Destination</label>
                    <select name="destinations" id="destinations" class="form-control" formControlName="Destination">
                        <option *ngFor="let destination of destinations" value="{{destination.destinationID}}">{{destination.airportName}}<b></b>/{{destination.city}}/{{destination.country}}</option>   
                    </select>
                    <label class="text-danger"
                        *ngIf="service.changeDestinationForm.get('Destination').touched && service.changeDestinationForm.get('Destination').errors?.required">
                        This field is mandatory.</label>
                </div>
                <!--airport name-->
                <div class="form-group">
                    <div class="col-xs-6">
                        <input type="text" class="form-control"id="airportname" placeholder="AirportName" formControlName="AirportName">
                    </div>
                </div>
                <!--city-->
                <div class="form-group">
                    <div class="col-xs-6">
                        <input type="text" class="form-control"id="city" placeholder="City" formControlName="City">
                    </div>
                </div>
                <!--country-->
                <div class="form-group">
                    <div class="col-xs-6">
                        <input type="text" class="form-control"id="country" placeholder="Country" formControlName="Country">
                    </div>
                </div>
                <div class="form-group text-center">
                    <button [disabled]="!service.changeDestinationForm.valid" class="btn btn-success" type="submit">Change Destination</button>
                    <p>&nbsp;</p>
                </div>
            </form>
        </span>
    </div>
</div>
