<div style="background-color: powderblue;">
    <div class="text-block">
        <h2>RESERVATION HISTORY</h2>
    </div>
    <div style="display: flex;">
        <!--ispis aktivnih rezervacija-->
        <span style="width: 49%;">
            <div style="text-align: center; font-size: large;"><b>ACTIVE FLIGHT RESERVATION</b></div>
            <div style="margin-left: 2%; font-size: x-small;">
                <table class="table table-dark">
                    <thead style="text-align: center;">
                        <tr>
                            <th>START TIME</th>
                            <th>END TIME</th>
                            <th>START LOCATION</th>
                            <th>END LOCATION</th>
                            <th>TICKET NUMBER</th>
                            <th>TICKET TYPE</th>
                            <th>FLIGHT CANCELLATION</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr *ngFor="let reservation of activeFlightReservation">
                            <td>{{reservation.startTime}}</td>
                            <td>{{reservation.endTime}}</td>
                            <td>{{reservation.startLocation}}</td>
                            <td>{{reservation.endLocation}}</td>
                            <td>{{reservation.ticketNumber}}</td>
                            <td>{{reservation.ticketType}}</td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="deleteReservation(reservation)" style="font-size: 10px;">FLIGHT CANCELLATION</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </span>
        <span style="width: 2%;"></span>

        <!--ispis prethodnih rezervacija-->
        <span style="width: 49%;">
            <div style="text-align: center; font-size: large;"><b>HISTORY OF PREVIOUS FLIGHT RESERVATIONS</b></div>
            <div style="margin-right: 2%; font-size: x-small;">
                <table class="table table-dark">
                    <thead style="text-align: center;">
                        <tr>
                            <th>START TIME</th>
                            <th>END TIME</th>
                            <th>START LOCATION</th>
                            <th>END LOCATION</th>
                            <th>TICKET NUMBER</th>
                            <th>TICKET TYPE</th>
                            <th>FLIGHT ASSESSSMENT</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr *ngFor="let reservation of historyflightReservation">
                            <td>{{reservation.startTime}}</td>
                            <td>{{reservation.endTime}}</td>
                            <td>{{reservation.startLocation}}</td>
                            <td>{{reservation.endLocation}}</td>
                            <td>{{reservation.ticketNumber}}</td>
                            <td>{{reservation.ticketType}}</td>
                            <td>
                                <button type="button" class="btn btn-success" (click)="saveReservation(reservation)" style="font-size: 10px;"
                                data-toggle="modal" data-target="#descriptionModal" >ENTER A FLIGHT RATING</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </span>
    </div>
</div>

<!--davanje ocene-->
<div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="white-space: pre;">
                <div class="tab-content">
                    <h2 style="text-align: center;">STAR RATING</h2>
                    <div class="rating" id="ratios"> 
                        <input type="radio" name="rating5" value="5" id="5">
                        <label for="5">☆</label> 
                        <input type="radio" name="rating4" value="4" id="4">
                        <label for="4">☆</label> 
                        <input type="radio" name="rating3" value="3" id="3">
                        <label for="3">☆</label> 
                        <input type="radio" name="rating2" value="2" id="2">
                        <label for="2">☆</label> 
                        <input type="radio" name="rating1" value="1" id="1">
                        <label for="1">☆</label>
                    </div>
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-success" (click)="ratingFlight()"
                                data-toggle="modal" data-target="#descriptionModal">ADD RATING</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

