<form [formGroup]="service.formModel" autocomplete="off" (ngSubmit)="onSubmit()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <!--username-->
  <div class="form-group">
    <input type="text" class="form-control" id="username" formControlName="UserName" placeholder="UserName">
    <label class="text-danger"
      *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">This
      field is mandatory.</label>
  </div>

  <!--email-->
  <div class="form-group">
    <input type="email" class="form-control" id="email" formControlName="Email" placeholder="Email">
    <label class="text-danger"
      *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid
      email address.</label>
    <label class="text-danger"
      *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.required">This
      field is mandatory.
    </label>
  </div>

  <!--password and conform password-->
  <div formGroupName="Passwords">
    <div class="form-group">
      <input type="password" class="form-control" id="password" formControlName="Password" placeholder="Password">
      <label class="text-danger"
        *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This
        field is mandatory.
      </label>
      <label class="text-danger"
        *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum
        8 characters required.
      </label>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="confirmPassword" formControlName="ConfirmPassword"
        placeholder="ConfirmPassword">
      <label class="text-danger"
        *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This
        field is mandatory.
      </label>
      <label class="text-danger"
        *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.minlength">Minimum
        8 characters required.
      </label>
    </div>
  </div>

  <!--first name-->
  <div class="form-group">
    <input type="text" class="form-control" id="firstName" formControlName="FirstName" placeholder="First name">
    <label class="text-danger"
      *ngIf="service.formModel.get('FirstName').touched && service.formModel.get('FirstName').errors?.required">This
      field is mandatory.</label>
  </div>

  <!--second name-->
  <div class="form-group">
    <input type="text" class="form-control" id="lastName" formControlName="LastName" placeholder="Last name">
    <label class="text-danger"
      *ngIf="service.formModel.get('LastName').touched && service.formModel.get('LastName').errors?.required">This
      field is mandatory.</label>
  </div>

  <!--jmbg-->
  <div class="form-group">
    <input type="text" class="form-control" id="jmbg" formControlName="Jmbg" placeholder="Jmbg">
    <label class="text-danger"
      *ngIf="service.formModel.get('Jmbg').touched && service.formModel.get('Jmbg').errors?.required">This
      field is mandatory.</label>
    <label class="text-danger"
      *ngIf="service.formModel.get('Jmbg').touched && service.formModel.get('Jmbg').errors?.minlength && service.formModel.get('Jmbg').errors?.maxlength">
      JMBG must have 13 caracters.
    </label>
  </div>

  <!--city-->
  <div class="form-group">
    <input type="text" class="form-control" id="city" formControlName="City" placeholder="City">
    <label class="text-danger"
      *ngIf="service.formModel.get('City').touched && service.formModel.get('City').errors?.required">This
      field is mandatory.</label>
  </div>

  <!--telephone-->
  <div class="form-group">
    <input type="text" class="form-control" id="telephone" formControlName="Telephone" placeholder="Telephone">
    <label class="text-danger"
      *ngIf="service.formModel.get('Telephone').touched && service.formModel.get('Telephone').errors?.required">This
      field is mandatory.</label>
    <label class="text-danger"
      *ngIf="service.formModel.get('Telephone').touched && service.formModel.get('Telephone').errors?.minlength">
      Minimum 9 characters required.</label>
  </div>

  <div class="form-group text-center">
    <button [disabled]="!service.formModel.valid" class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
<div style="text-align: center;">
  <label style="color: red">{{registrationLabel}}</label>
</div>